---
import "../styles/global.css";

import Header from "../components/Header.astro";
import Job from "../components/Job.astro";
import Education from "../components/Education.astro";
import Skill from "../components/Skill.astro";
import Language from "../components/Language.astro";
import Footer from "../components/Footer.astro";
import SectionTitle from "../components/SectionTitle.astro";

import { jobs } from "../data/jobs.js";
import { education } from "../data/education.js";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Yin Chu Rijnaard's digital resume" />
    <!-- Add keywords for search engines (?) -->
    <!-- <meta name="keywords" content="HTML, CSS, JavaScript" /> -->
    <title>Resume - Yin Chu Rijnaard</title>
  </head>

  <body class="bg-neutral-900 text-neutral-100 space-y-4">
    <Header />
    <hr class="text-neutral-700" />

    <!-- Employment History Cards -->
    <SectionTitle sectionTitle={"Employment History"} />
    {jobs.map((job: any) => <Job {...job} />)}

    <!-- Education Cards -->
    <SectionTitle sectionTitle={"Education"} />
    {education.map((edu) => <Education {...edu} />)}

    <!-- Skills List -->
    <SectionTitle sectionTitle={"Skills"} />
    <Skill />

    <!-- Languages List -->
    <SectionTitle sectionTitle={"Languages"} />
    <Language />

    <hr class="text-neutral-700" />
    <Footer />
  </body>
</html>
