---
import "../styles/global.css";
---

<footer class="p-4 text-center space-y-4">
  <p>Made with&nbsp;🧡</p>
  <span
    >Visit this website&apos;s
    <a
      class="hover:text-orange-500 hover:underline hover:decoration-orange-500"
      href="https://github.com/yinchurijnaard"
      target="_blank"
      rel="noopener noreferrer"
      >GitHub
    </a>repository
  </span>
</footer>
