---
import "../styles/global.css";
---

<footer class="p-4 flex flex-col text-center space-y-4">
  <p>Made with&nbsp;🧡</p>
  <div class="space-x-4">
    <a
      class="hover:text-orange-500 hover:underline hover:decoration-orange-500"
      href="https://github.com/yinchurijnaard/yin-chu-resume"
      target="_blank"
      rel="noopener noreferrer"
      >GitHub
    </a>
    <a
      class="hover:text-orange-500 hover:underline hover:decoration-orange-500"
      href="https://www.linkedin.com/in/yinchurijnaard/"
      target="_blank"
      rel="noopener noreferrer"
      >LinkedIn
    </a>
  </div>
</footer>
