---
import "../styles/global.css";

const date = new Date();
---

<div class="p-4 text-center space-y-4">
  <h1 class="text-4xl sm:text-6xl">Yin Chu Rijnaard</h1>
  <h2 class="text-lg italic sm:text-2xl">
    Resume&nbsp;<span class="text-orange-500"> • </span>&nbsp;{
      date.getFullYear()
    }
  </h2>
</div>
